name: Unity CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Cache Unity
        uses: actions/cache@v3
        with:
          path: Library
          key: ${{ runner.os }}-unity-${{ hashFiles('**/*.meta') }}
      - name: Setup Unity
        uses: game-ci/unity-setup@v2
        with:
          unityVersion: 2021.3.0f1
      - name: Run Unit Tests
        uses: game-ci/unity-test-runner@v2
